@charset "UTF-8";

body{
 background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-pink-blue-mesh-color-gradient-background-website-banner-paper_120819-974.jpg");


	
	text-align: center;
}
h1{
	color: yellow;
}